<h1>What's my Scrabble score?</h1>
<form action="/score">
  <div class="form-group">
    <label for="word">Enter your word to see the Scrabble score</label>
    <input id="word" name="word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-danger-lg">Get my score</button>
</form>
